# Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc

# Evaluation Logs & Results
jobs/
logs/
artifacts/

# Environment / Secret files
.env
.python-version

# Build artifacts
dist/
build/
*.egg-info/
